<footer role="contentinfo">
  <div class="wrapper">
    <section>
      <figure>
        <div class="footer-logo">
          <img alt="Australian Government Coat of Arms" src="/assets/coat-of-arms-af51ab555b0040c7bcda43484858d96594d2cb60d71ff58ff91003a9cc7f3e81.png">
        </div>
      </figure>
      <div class="footer-links">
        <p>
          © Commonwealth of Australia
          <br>
          <a href="http://creativecommons.org/licenses/by/3.0/au/">This work is licensed under a Creative Commons Attribution 3.0 International License</a>
        </p>
      </div>
    </section>
  </div>
</footer>
