<footer role="contentinfo">
  <div class="wrapper">
    <section>
      <figure>
        <div class="footer-logo">
          <%= image_tag("/assets/coat-of-arms.png", alt: "Australian Government Coat of Arms") %>
        </div>
      </figure>
      <div class="footer-links">
        <p>
          © Commonwealth of Australia
          <br>
          <a href="http://creativecommons.org/licenses/by/3.0/au/">This work is licensed under a Creative Commons Attribution 3.0 International License</a>
        </p>
      </div>
    </section>
  </div>
</footer>
