<!--[if lt IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong>
  browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
  to improve your experience.</p>
<![endif]-->

<div class="skip-to">
<!-- <a href="#content">Skip to main content</a>
<a href="#nav">Skip to section navigation</a> -->
</div>

<header role="banner">
  <section class="prerelease-govau--header">
    <div class="wrapper">

      <a class="govau--logo" href="/">
        <%= image_tag("/assets/icons/logo-govau-full-2x.png", width: "270") %>
        <div class="brandbar default">
          <div class="b1"></div>
          <div class="b2"></div>
        </div>
      </a>

      <div class="feedback" tabindex="1">
        <a href="" class="button--feedback" role="button">Give feedback</a>
      </div>
    </div>

    <nav class="breadcrumbs--inverted" aria-label="breadcrumb">
      <div class="wrapper">
        <ul>
            <li><a href="/" class="current">Home</a></li>
        </ul>
      </div>
    </nav>

  </section>
</header>
